html {
	background-image: url('https://i.imgur.com/LoVIGyZ.jpg');
	background-size: cover;
}

.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
}
.ocean {
	display: 1;
	max-width: 80%;
	opacity: 0.7;
	border-radius: 1%;
	height: auto;
}
